apiVersion: v1
data:
  REDIS_HOST: cache-redis-service
  SIIBRA_API_LOG_DIR: /siibra_api_logs
  SKIP_CACHEINIT_MAINTENANCE: "1"

  # TODO prepend _, as of siibra-api<0.3.18, a bug will cause server crash
  # when prod migrates to 0.3.18, remove prepend
  _MONITOR_FIRSTLVL_DIR: /siibra-api-volume
  SIIBRA_API_REMAP_PROVIDERS: |-
    https://object.cscs.ch/v1/AUTH_08c08f9f119744cbbf77e216988da3eb::https://data-proxy.ebrains.eu/api/v1/buckets/reference-atlas-data/imgsvc
kind: ConfigMap
metadata:
  name: siibra-api-common
