image: tiangolo/uvicorn-gunicorn-fastapi:python3.7
stages:
  - test
  -
  - deploy

before-script:
  script:
    - python -m pip install --upgrade pip

test:
  stage: test
  script:
    - pip install -r app/requirements.txt
    - pip install pytest
    - pip install pytest-asyncio
    - pip install httpx
    - pip install mock
    - pip install coverage
    - coverage run -m pytest
    - coverage html -d coverage
    - coverage xml
  artifacts:
    paths:
      - coverage/
    reports:
      cobertura: coverage.xml

pages:
  stage: deploy
  dependencies:
    - test
  script:
    - mv coverage/ public/
  artifacts:
    paths:
      - public
    expire_in: 30 days
  only:
    - master

dev_deploy:
  stage: deploy
  only:
    - master
  script: |
    oc login $OPENSHIFT_URL --token=$OPENSHIFT_TOKEN
    oc project $OPENSHIFT_PROJECT
    oc start-build $CI_PROJECT_NAME


