<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Siibra API</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Siibra API</h1>
        <p class="lead">
            Siibra provides functionalities for the Juelich Brain.
        </p>
        <hr class="my-4">
        <p>api version: {{ api_version }} build: {{ git_hash }}</p>
        <p>For further information see following links:</p>
    </div>
    <div>
        <ul class="list-group">
            <li class="list-group-item">
                <div>
                    <h5>API Documentation</h5>
                    <p>
                        The swagger documentation is a great way to learn more about the API.
                        It is even possible to use the playground of the documentation and send requests without further development.
                    </p>
                    {% for version in versions %}
                    <a href="/{{ version }}/docs" target="_blank" class="btn btn-primary">swagger {{ version }}</a>
                    {% endfor %}
                    <hr>
                    <p>
                        Another view on the documentation is provided as ReDoc.
                    </p>

                    {% for version in versions %}
                    <a href="/{{ version }}/redoc" target="_blank" class="btn btn-primary">redoc {{ version }}</a>
                    {% endfor %}
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h5>User & Technical Documentation</h5>
                    <p>
                        A documentation from a user perspective and a technical scope of the siibra client.
                    </p>
                    <a href="https://siibra-api.readthedocs.io/" target="_blank" class="btn btn-primary">readthedocs.io</a>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h5>Atlas Viewer</h5>
                    <p>
                        Jump directly into the atlas viewer.
                    </p>
                    <a href="https://interactive-viewer.apps.hbp.eu/" target="_blank" class="btn btn-primary">atlas viewer</a>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h5>Git Repository</h5>
                    <p>
                        The sourcecode for siibra-api can be found on GitHub.
                    </p>
                    <a href="https://github.com/FZJ-INM1-BDA/siibra-api" target="_blank" class="btn btn-primary">
                        git repository
                    </a>
                </div>
            </li>
            <li class="list-group-item">
                <div>
                    <h5>python library</h5>
                    <p>
                        Besides the REST-API there is a python library that provides all the functionalities and even
                        extended features.
                    </p>
                    <a href="https://pypi.org/project/siibra/" target="_blank" class="btn btn-primary">siibra-python</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


</body>
</html>
