name: Trigger deploy with helm
on:
  workflow_call:
    inputs:
      DEPLOYMENT_NAME:
        required: true
        type: string

    secrets:
      KUBECONFIG:
        required: true

env:
  RC_INGRESS_HOST: '[{"host": "siibra-api-rc.apps.tc.humanbrainproject.eu", "paths": [{ "path": "/", "pathType": "Prefix" }]}]'
  RC_INGRESS_TLS: '[{"secretName": "siibra-api-rc-secret", "hosts": ["siibra-api-rc.apps.tc.humanbrainproject.eu"]}]'

jobs:
  set-vars:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: './.github/workflows/composite-set-k8s-cred'
      with:
        secrets: ${{ secrets.KUBECONFIG }}
        
    - name: 'Get status'
      run: |
        helm status ${{ inputs.DEPLOYMENT_NAME }}
        HELM_STATUS=$(echo $?)
        echo "HELM_STATUS: $HELM_STATUS"
        echo "HELM_STATUS=$HELM_STATUS" >> $GITHUB_ENV

    - name: Set Vars
      run: |
        SAPI_VERSION=$(cat api/VERSION)
        GIT_HASH=$(git rev-parse --short HEAD)
        
        echo "SAPI_VERSION: $SAPI_VERSION"
        echo "GIT_HASH: $GIT_HASH"

        if [[ -z "$SAPI_VERSION" ]]
        then
          echo "SAPI_VERSION cannot be found $SAPI_VERSION"
          exit 1
        fi
        
        if [[ -z "$GIT_HASH" ]]
        then
          echo "GIT_HASH cannot be found $GIT_HASH"
          exit 1
        fi

        echo "SAPI_VERSION=$SAPI_VERSION" >> $GITHUB_ENV
        echo "GIT_HASH=$GIT_HASH" >> $GITHUB_ENV
        
    - name: 'deploy rc'
      if: ${{ inputs.DEPLOYMENT_NAME == 'rc' }}
      run: |
        if [[ "$HELM_STATUS" == "0" ]]
        then
          helm --set sapiVersion=$version \
            --reuse-values \
            --set podLabels.hash="$GIT_HASH" \
            --set image.pullPolicy=Always \
            upgrade rc .helm/siibra-api/
        else
          helm --set sapiVersion=$version \
            --set sapiFlavor=rc --set-json ingress.hosts='${{ env.RC_INGRESS_HOST }}'\
            --set-json ingress.tls='${{ env.RC_INGRESS_TLS }}' \
            --set podLabels.hash="$GIT_HASH" \
            --set image.pullPolicy=Always \
            install rc .helm/siibra-api/
        fi

    - name: 'deploy prod'
      if: ${{ inputs.DEPLOYMENT_NAME == 'prod' }}
      run: |
        if [[ "$HELM_STATUS" == "0" ]]
        then
          helm --set sapiVersion=$version \
            --reuse-values \
            upgrade rc .helm/siibra-api/
        else 
          helm --set sapiVersion=$version \
            install rc .helm/siibra-api/
        fi
