name: '[cd]docker images'

on:
  push:
    branches:
    - master
  release:
    types:
    - published

env:
  OKD_PROJECT: siibra-api
  OKD_PROD_ENDPOINT: https://okd.hbp.eu:443
  OKD_DEV_ENDPOINT: https://okd-dev.hbp.eu:443
  OKD_PROD_SECRET: ${{ secrets.OKD_PROD_SECRET }}
  OKD_DEV_SECRET: ${{ secrets.OKD_DEV_SECRET }}
  DOCKER_REGISTRY: 'docker-registry.ebrains.eu/siibra/'
  DOCKER_IMG: 'siibra-api'
  DOCKER_IMAGE_TAG: 'latest'

jobs:
  build-docker-img:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        flavor: ['server', 'worker', 'all']
        include:
        - flavor: 'all'
          dockerfile: 'Dockerfile'
          tag_suffix: ''
        - flavor: 'worker'
          dockerfile: 'worker.dockerfile'
          tag_suffix: '-worker'
        - flavor: 'server'
          dockerfile: 'server.dockerfile'
          tag_suffix: '-server'

    steps:
    - uses: actions/checkout@v3
    - name: "Build docker image"
      run: |
        GIT_HASH=$(git rev-parse --short HEAD)
        docker build --build-arg GIT_HASH=$GIT_HASH -t siibra-api-tmp-img -f ${{ matrix.dockerfile }} .

    - name: "Tag and Push (latest || rc)"
      if: ${{ (github.event_name == 'push') || contains(github.ref, 'rc') }}
      run: |
        if [[ "$GITHUB_REF" = *"rc"* ]]
        then
          TAG_BASE=rc
        else
          TAG_BASE=latest
        fi

        NEW_TAG=${{ env.DOCKER_REGISTRY }}${{ env.DOCKER_IMG }}:${TAG_BASE}${{ matrix.tag_suffix }}
        docker tag siibra-api-tmp-img ${NEW_TAG}
        
        echo "Login to docker registry"
        docker login \
          -u '${{ secrets.EBRAINS_DOCKER_REG_USER }}' \
          -p '${{ secrets.EBRAINS_DOCKER_REG_TOKEN }}' \
          docker-registry.ebrains.eu
        
        docker push $NEW_TAG

    - name: "Tag and Push (release)"
      if : ${{ (github.event_name == 'release') && !contains(github.ref, 'rc') }}
      run: |
      
        echo "Login to docker registry"
        docker login \
          -u '${{ secrets.EBRAINS_DOCKER_REG_USER }}' \
          -p '${{ secrets.EBRAINS_DOCKER_REG_TOKEN }}' \
          docker-registry.ebrains.eu
        
        VERSION=$(grep -Po '^__version__.*?"\K[\w.]+' api/siibra_api_config.py)
        while [[ "$VERSION" == *"."* ]]
        do
          if [[ "$BREAK" == "0" ]]
          then
            echo "Fuse broke!"
            exit 1
          fi
          VERSIONED_DOCKERTAG=${{ env.DOCKER_REGISTRY }}${{ env.DOCKER_IMG }}:${VERSION}${{ matrix.tag_suffix }}
          echo "tagging and pushing $VERSIONED_DOCKERTAG"
          docker tag siibra-api-tmp-img $VERSIONED_DOCKERTAG
          docker push $VERSIONED_DOCKERTAG

          echo "Push successful... Incrementing version & break"
          VERSION=$(echo $VERSION | sed -e 's/\.\w*$//g')
          BREAK=$(( "$BREAK" - 1 ))
        done
        echo "Done"

  setup-envvar:
    runs-on: ubuntu-latest
    outputs:
      queues: ${{ steps.set-env-var.outputs.queues }}
      version: ${{ steps.set-env-var.outputs.version }}
    needs: build-docker-img
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: 'Setting env var'
      id: set-env-var
      run: |
        echo queues=$(python -c 'import api.siibra_api_config as cfg; print(" ".join([f"{q!r}" for q in cfg._queues]))') >> "$GITHUB_OUTPUT"
        echo version=$(python -c 'import api.siibra_api_config as cfg; print(cfg.__version__)') >> "$GITHUB_OUTPUT"

  deploy-latest-on-okd:
    needs: setup-envvar
    if: ${{ github.event_name == 'push' }}
    runs-on: ubuntu-latest
    env:
      QUEUES: ${{ needs.setup-envvar.outputs.queues }}
      VERSION: ${{ needs.setup-envvar.outputs.version }}
      FLAVOR: latest
      WORKER_IMAGE: docker-registry.ebrains.eu/siibra/siibra-api:latest-worker
    steps:
    - name: 'Login and import image'
      run: |
        oc login https://okd-dev.hbp.eu:443 --token=${{ secrets.OKD_DEV_SECRET }}
        oc project siibra-api

        echo "Restarting all servers"
        for dc in $(oc get dc -l app=siibra-api,app_role=server,flavor=${{ env.FLAVOR }},template_version=v5 | awk '{print $1}' | tail -n +2)
        do 
          oc rollout latest dc/$dc
        done

        for queue in ${{ env.QUEUES }}
        do
          echo Processing worker with queue name: $queue siibraapi version ${VERSION}

          existing_count=$(oc get dc -o=json -l flavor=${{ env.FLAVOR }},siibraapi_version=${VERSION},app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue} | jq '.items | length')
          
          echo Existing dc count: $existing_count

          if [[ "$existing_count" = "1" ]]
          then
            dc=$(oc get dc -o=json -l flavor=${{ env.FLAVOR }},siibraapi_version=${VERSION},app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue} | jq -r '.items[0].metadata.name')
            oc rollout latest dc/$dc
          else
            oc delete all -l flavor=latest,app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue}
            oc new-app --template=siibra-api-v5-worker-template \
              --param SIIBRA_API_VERSION=${VERSION} \
              --param FLAVOR=${{ env.FLAVOR }} \
              --param QUEUE_NAME=$queue \
              --param SIIBRA_API_WORKER_IMAGE=${{ env.WORKER_IMAGE }}
          fi
        done

  deploy-rc-on-okd:
    needs: setup-envvar
    if:  ${{ github.event_name == 'release' && contains(github.ref, 'rc') }}
    runs-on: ubuntu-latest
    env:
      QUEUES: ${{ needs.setup-envvar.outputs.queues }}
      VERSION: ${{ needs.setup-envvar.outputs.version }}
      FLAVOR: rc
      WORKER_IMAGE: docker-registry.ebrains.eu/siibra/siibra-api:rc-worker
    steps:
    - name: 'Login and import image'
      run: |
        oc login https://okd.hbp.eu:443 --token=${{ secrets.OKD_PROD_SECRET }}
        oc project siibra-api

        echo "Restarting all servers"
        for dc in $(oc get dc -l app=siibra-api,app_role=server,flavor=${{ env.FLAVOR }},template_version=v5 | awk '{print $1}' | tail -n +2)
        do 
          oc rollout latest dc/$dc
        done

        for queue in ${{ env.QUEUES }}
        do
          echo Processing worker with queue name: $queue siibraapi version ${VERSION}

          existing_count=$(oc get dc -o=json -l flavor=${{ env.FLAVOR }},siibraapi_version=${VERSION},app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue} | jq '.items | length')
          
          echo Existing dc count: $existing_count

          if [[ "$existing_count" = "1" ]]
          then
            dc=$(oc get dc -o=json -l flavor=${{ env.FLAVOR }},siibraapi_version=${VERSION},app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue} | jq -r '.items[0].metadata.name')
            oc rollout latest dc/$dc
          else
            oc delete all -l flavor=latest,app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue}
            oc new-app --template=siibra-api-v5-worker-template \
              --param SIIBRA_API_VERSION=${VERSION} \
              --param FLAVOR=${{ env.FLAVOR }} \
              --param QUEUE_NAME=$queue \
              --param SIIBRA_API_WORKER_IMAGE=${{ env.WORKER_IMAGE }}
          fi
        done

  deploy-prod-on-okd:
    needs: setup-envvar
    if:  ${{ github.event_name == 'release' && !contains(github.ref, 'rc') }}
    runs-on: ubuntu-latest
    env:
      QUEUES: ${{ needs.setup-envvar.outputs.queues }}
      VERSION: ${{ needs.setup-envvar.outputs.version }}
      FLAVOR: stable
      WORKER_IMAGE: docker-registry.ebrains.eu/siibra/siibra-api:0.3-worker
    strategy:
      fail-fast: false
      matrix:
        deploy-site: ['jsc', 'cscs']
        include:
        - deploy-site: 'jsc'
          okd-endpoint: https://okd.jsc.hbp.eu:443
          okd-secrets-key: OKD_JSC_SECRET
          okd-project: siibra-api

        - deploy-site: 'cscs'
          okd-endpoint: https://okd.hbp.eu:443
          okd-secrets-key: OKD_PROD_SECRET
          okd-project: siibra-api
    steps:
    - name: 'Login and import-image'
      run: |
        oc login ${{ matrix.okd-endpoint }} --token=${{ matrix.okd-secrets-key }}
        oc project ${{ matrix.okd-project }}
        
        oc login https://okd.hbp.eu:443 --token=${{ secrets.OKD_PROD_SECRET }}
        oc project siibra-api

        echo "Restarting all servers"
        for dc in $(oc get dc -l app=siibra-api,app_role=server,flavor=${{ env.FLAVOR }},template_version=v5 | awk '{print $1}' | tail -n +2)
        do 
          oc rollout latest dc/$dc
        done

        for queue in ${{ env.QUEUES }}
        do
          echo Processing worker with queue name: $queue siibraapi version ${VERSION}

          existing_count=$(oc get dc -o=json -l flavor=${{ env.FLAVOR }},siibraapi_version=${VERSION},app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue} | jq '.items | length')
          
          echo Existing dc count: $existing_count

          if [[ "$existing_count" = "1" ]]
          then
            dc=$(oc get dc -o=json -l flavor=${{ env.FLAVOR }},siibraapi_version=${VERSION},app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue} | jq -r '.items[0].metadata.name')
            oc rollout latest dc/$dc
          else
            oc delete all -l flavor=latest,app=siibra-api,app_role=worker,queue=${VERSION}.siibraapi${{ env.FLAVOR }}.${queue}
            oc new-app --template=siibra-api-v5-worker-template \
              --param SIIBRA_API_VERSION=${VERSION} \
              --param FLAVOR=${{ env.FLAVOR }} \
              --param QUEUE_NAME=$queue \
              --param SIIBRA_API_WORKER_IMAGE=${{ env.WORKER_IMAGE }}
          fi
        done
