name: '[ci]tests'

# only run on push to branch, not on tags
on:
  push:
    branches:
    - '*'

jobs:
  model-module-import:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install pydantic as the sole dependency
      run: |
        python -m pip install -U pip
        pip install pydantic
    - name: Attempt to import model, should succeed.
      run: |
        python -c "import api.models"
  test:
    runs-on: ubuntu-latest
    env:
      # automatically set by github action
      # only included here for clarity (if user would like to run tests locally)
      CI: true
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Set up Python 3.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          echo "Using github.ref: $GITHUB_REF"
          pip install -r requirements/all.txt

      - name: Install test dependecies
        run: pip install pytest pytest-asyncio httpx mock coverage pytest-cov
      - name: Run tests
        run: pytest
