name: siibra ci pipeline
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      EBRAINS_IAM_CLIENT_ID: ${{ secrets.EBRAINS_IAM_CLIENT_ID }}
      EBRAINS_IAM_CLIENT_SECRET: ${{ secrets.EBRAINS_IAM_CLIENT_SECRET }}
      EBRAINS_IAM_REFRESH_TOKEN: ${{ secrets.EBRAINS_IAM_REFRESH_TOKEN }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Set up Python 3.7.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.7.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
      - name: Install test dependecies
        run: pip install pytest pytest-asyncio httpx mock coverage pytest-cov
      - run: |
          coverage run -m pytest
          coverage report
          coverage html
      - name: Archive code coverage html report
        uses: actions/upload-art5ifact@v2
        with:
          name: siibra-code-coverage-report
          path: htmlcov

  dev-deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying to openshift"
