name: siibra ci pipeline
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Set up Python 3.7.10
        uses: actions/setup-python@v2
        with:
          python-version: '3.7.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
      - name: Install test dependecies
        run: pip install pytest pytest-asyncio httpx mock coverage
      - run: coverage run -m pytest

  dev-deploy:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Deploying to openshift"
